<footer class="bd-footer py-4 py-md-5 bg-body-tertiary">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a
          class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none"
          href="/"
          aria-label="Bootstrap"
        >
          <img
            src="images/logo.png"
            alt="Logo"
            width="50"
            height="50"
            class="d-inline-block align-text-top"
          />
          <span class="pt-1 logo-text"
            >edu<span class="logo-inner-text">Learning</span></span
          >
        </a>
        <ul class="list-unstyled small">
          <li class="mb-2">Gandhinagar, India</li>
          <li class="mb-2">
            <i class="bi bi-telephone me-2 custom-"></i> 9898662231
          </li>
          <li class="mb-2">
            <i class="bi bi-envelope me-2"></i> support&#64;edulearning.com
          </li>
          <li class="mb-2 fw-bold">Follow Us</li>
          <li class="mb2 d-flex gap-1">
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter-x ms-1"></i>
            <i class="bi bi-facebook ms-1"></i>
            <i class="bi bi-linkedin ms-1"></i>
            <i class="bi bi-youtube ms-1"></i>
          </li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5 class="mb-4">About Us</h5>
        <ul class="list-unstyled">
          <li class="mb-2">Careers</li>
          <li class="mb-2">Private Policy</li>
          <li class="mb-2">Founders</li>
          <li class="mb-2">Help & Support</li>
          <li class="mb-2">Affiliate</li>
        </ul>
      </div>
      <div class="col-6 col-lg-3 mb-3">
        <h5 class="mb-4">Community</h5>
        <ul class="list-unstyled">
          <li class="mb-2">Community Hub</li>
          <li class="mb-2">Events</li>
          <li class="mb-2">Blogs</li>
        </ul>
      </div>
      <div class="col-lg-3 mb-3">
        <h5 class="mb-4">Subscribe</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            Get the latest updates on our newsletter issued weekly. 
          </li>
          <li class="mb-2">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Email here"
                aria-label="Email here"
              />
            </div>
          </li>
          <li class="mb-2">
            <a href="#" target="_blank" rel="noopener" class="btn btn-custom">
              Subscribe
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
