<div class="position-relative" >
    <!-- <div class="position-relative ms-auto" style="width: 120px;"> -->

     
        <div #carouselControl>
            <button (click)="scrollPrev()" class="carousel-control-prev me-5" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button (click)="scrollNext()" class="carousel-control-next ms-5" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    <!-- </div> -->
    <div #carouselContainer id="carouselExampleControls" class="carousel p-5 bg-color-home">
        <p class="fs-2 fw-bold">Success Stories for students</p>
        <p class="fs-5">The ultimate platform to upskill yourself</p>
        <div #carouselInner class="carousel-inner pt-5">

            <div class="carousel-item active" testimonial></div>
            <div class="carousel-item" testimonial></div>
            <div class="carousel-item" testimonial></div>
            <div class="carousel-item" testimonial></div>
            <div class="carousel-item" testimonial></div>

        </div>
    </div>
</div>