.my-class::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.12;
    background-image: url("../../../public/images/imgpsh_fullsize_anim.png");
    background-position: center;
    background-size:20%;
    z-index: -1;
  
}