<div class="card p-0 m-0 d-flex flex-column z-1">
    <div class="position-relative align-self-center">
        <div class="img-wrapper img-border z-2"><img src="images/course/logo-design.jpeg" class="img-fluid pb-1 p-0 m-0 z-3" alt="..."> </div>
    </div>
    <div class="card-body px-4 pt-1">
        <p class="card-title fs-6 green-txt fw-bold">Advanced Logo Design And Fundamental Concepts</p>
        <p class="card-text negative-mt truncate">Learn <span class="text-secondary fw-bolder">Logo Design</span> Theory from the worlds best and master its in's and out's in no time. A course Specifically designed for Newbies.</p>
        <p class="fw-bold mb-0 ">Luz Murphy</p>
        <p class="mb-0  ">4.1 ⭐⭐⭐⭐<span class="text-secondary">(400)</span></p>
        <p class="mb-0  fw-medium text-secondary">6 total hours&nbsp; &nbsp;20 Sections</p>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <a routerLink="/course" class="btn btn btn-custom">Enroll Now</a>
            <p class=" mb-0 text-secondary">$69.99</p>
        </div>
    </div>
</div>