<div class="">
    <div class="text-center">
        <p class="fs-3 fw-bold m-0 mt-2">Account</p>
        <p class="m-0 p-0">
            Edit your account settings and change your password here.
        </p>
    </div>
    <hr />
    <form action="" class="d-flex align-items-start flex-column gap-4">
        <div class="col-7 m-auto">
            <div class="d-flex flex-column w-100">
                <p class="fw-bold fs-5">Email:</p>
                <div class="form-floating mb-3 w-100">
                    <input type="email" class="form-control custom-form bg-white border-black" placeholder=""
                        disabled />
                    <label class="text-black">Your email address is <strong>abc&#64;gmail.com</strong></label>
                </div>
            </div>
        </div>
        <hr class="w-100 m-0" />
        <div class="col-7 m-auto">
            <div class="d-flex flex-column w-100">
                <p class="fw-bold fs-5">Password:</p>
                <div class="form-floating mb-3 w-100">
                    <input type="email" class="form-control custom-form bg-white" placeholder=""/>
                    <label>Enter current password</label>
                </div>
                <div class="form-floating mb-3 w-100">
                    <input type="email" class="form-control custom-form bg-white" placeholder=""/>
                    <label>Enter new password</label>
                </div>
                <div class="form-floating mb-3 w-100">
                    <input type="email" class="form-control custom-form bg-white" placeholder=""/>
                    <label>Re-Type new password</label>
                </div>
            </div>
            <button class="btn btn-custom btn-lg">Change Password</button>
        </div>
    </form>
</div>