.btn-custom,.btn-custom:disabled {
  border: 1px solid #147a55;
  background-color: #147a55;
  color: #fff;
  transition: 0.2s;
}

.btn-custom:hover {
  color: #fff;
  background-color: #20694d;
}



.green-bg-dark {
  background-color: #147a55;
}

.green-txt{
  color: #147a55;
}

.green-bg{
  background-color: #147a5580;
}

.bg-color-home{
  background-color: var(--secondary-color);
}