<div class="px-lg-5 px-2  d-flex flex-row position-relative justify-content-around jumbotron-custom">
    <div class="container-fluid jumbotron-bg">
      <div class="p-xl-5 mt-5">
        <h1 class="col-xl-10 display-5 fw-bold text-justify">It's time to amplify your Online Career</h1>
        <p class="col-lg-10 fs-5 text-justify">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humor.</p>
        <a routerLink="/register" class="btn btn-custom shadow-lg" type="button">Sign Up</a>
      </div>
    </div>
     <div class="custom-img" class="d-none d-lg-flex">
       <img src="images/jumbo_bg2_nobg.png" alt="Edu Learning" >
       <div class="img-base"></div>
     </div>
  </div>