<div class="d-flex flex-lg-row-reverse flex-column-reverse mt-5 p-3 p-lg-5 custom-color align-items-center">

    <div class="col-10 col-lg-6 mt-5 mt-lg-0">
        <div class="text-uppercase fw-bold pb-3 fs-5 green-txt">
            Explore Our courses
        </div>
        <div class="card-body">
            <h5 class="card-title display-5 fw-bold">Get Instant Access to Expert Solutions</h5>
            <p class="card-text py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam quas nostrum harum, voluptate ex ipsa? Quidem ea non eaque aliquid, provident ipsam suscipit earum, reiciendis, quo impedit error cumque.</p>
            <a href="#" class="btn btn-custom" routerLink="courses">Explore Courses</a>
        </div>
    </div>



    <div class="col-10 col-lg-6 ms-lg-2 ms-5 d-flex flex-wrap ">
        <div class="col-6  d-block text-center">
            <img class="rounded-2" src="images/working.jpg" style="width: 70%;" alt="...">
        </div>

        <div class="col-6 ps-3 align-self-center">
            <img class="rounded-4" src="images/working4.png" style="width: 50%;" alt="...">
        </div>

        <div class="col-6 text-center align-self-center">
            <img class="rounded-4" src="images/working2.jpg" style="width: 50%;" alt="...">
        </div>

        <div class="col-6 ">
            <img class="rounded-2" src="images/working3.jpg" style="width: 70%;" alt="...">
        </div>
    </div>
</div>