<nav aria-label="...">
    <ul class="pagination justify-content-center " id="page-nav">
      <li class="page-item  disabled">
        <a class="page-link rounded-start-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link rounded-end-1" href="#">Next</a>
      </li>
    </ul>
  </nav>