<div class="achievement-container p-5">
    

    <div class="col-10 col-lg-6 m-auto">
        <h1 class="fw-bold text-white text-center">Our Achievements</h1>
        <p class="text-center text-white ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dolor asperiores quisquam, quidem eligendi, necessitatibus fuga reiciendis odio eum ipsa harum sed aliquam ea! Ex adipisci omnis dolore eius dolorum.</p>
    </div>

    <div class="row gap-5 m-5 justify-content-around">
        <div class="card text-center py-3 col-xl-2 col-md-5 col-sm-7">
            <p class="number">50K+</p>
            <p>Students</p>
        </div>
        
        <div class="card text-center py-3 col-xl-2 col-md-5 col-sm-7">
            <p class="number">50+</p>
            <p>Courses</p>
        </div>
        
        <div class="card text-center py-3 col-xl-2 col-md-5 col-sm-7 ">
            <p class="number">4K+</p>
            <p>Classes</p>
        </div>
        
        <div class="card text-center py-3 col-xl-2 col-md-5 col-sm-7 ">
            <p class="number">4.7⭐</p>
            <p>Rating</p>
        </div>
    </div>
    

</div>
