<app-jumbotron />

<div class="d-flex flex-column flex-xl-row justify-content-around py-5 gap-5 gap-xl-0">
  <app-benefit-cards class="col-xl-3 col-sm-7 col-10 m-auto m-xl-0" cardTitle="Expert Instructor" cardContent="There are many variations of passages of Lorem ipsum available, but the majority have suffered alteration in some form">
    <i class="bi bi-person-video3 symbol d-flex justify-content-center"></i>
  </app-benefit-cards>
  <app-benefit-cards class="col-xl-3 col-sm-7 col-10 m-auto m-xl-0" cardTitle="Self Development" cardContent="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form">
    <i class="bi bi-bar-chart-fill symbol d-flex justify-content-center"></i>
  </app-benefit-cards>
  <app-benefit-cards class="col-xl-3 col-sm-7 col-10 m-auto m-xl-0" cardTitle="Life Time Support" cardContent="There are many variations of passages of Lorem ipsum available, but the majority have suffered alteration in some form">
    <i class="bi bi-headset symbol d-flex justify-content-center"></i>
  </app-benefit-cards>
</div>
